<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Playbooks</title>
    <!--suppress JSUnresolvedLibraryURL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" type='text/css'>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><b>SOSOC</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/rules" class="nav-link">Rules</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/playbooks" class="nav-link active">Playbooks</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/iocs" class="nav-link">IOCs</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/users" class="nav-link">Users</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/logs" class="nav-link">Logs</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1 class="mt-5">Manage Playbooks</h1>
    <hr>
    <form class="mt-4">
        <h4>Create Playbook</h4>
        <div class="form-group row">
            <div class="col-auto">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" required></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="trigger">Trigger</label>
                <textarea class="form-control" id="trigger" name="trigger" required></textarea>
            </div>
        </div>
        <h5 class="mt-2">Steps</h5>
        <div class="mt-3" id="steps-container">
            <div class="row row-cols-lg-auto g-3 align-items-center step-data" id="step-data-0">
                <div class="col-auto">
                    <button type="button" class="btn btn-outline-success" onclick="addStep();">
                        Add
                    </button>
                </div>
                <div class="col-auto">
                    <label>
                        <input type="text" class="form-control step-name" name="step-name" placeholder="name" required>
                    </label>
                </div>
                <div class="col-auto">
                    <label>
                        <input type="text" class="form-control step-action" name="step-action" placeholder="action" required>
                    </label>
                </div>
                <div>
                    Next:
                </div>
                <div id="next-container-0">
                    <div class="row g-2 align-items-center next-data" id="next-data-0">
                        <div class="col-auto">
                            <label>
                                <input type="text" class="form-control next-condition" name="next-condition" placeholder="condition">
                            </label>
                        </div>
                        <div class="col-auto">
                            <label>
                                <input type="text" class="form-control next-name" name="next-name" placeholder="name">
                            </label>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-outline-success" onclick="addNext(0);">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row mt-2">
            <div class="col-auto">
                <label for="first-step">First step</label>
                <input type="text" class="form-control" id="first-step" name="fist-step" required>
            </div>
        </div>
        <button type="button" onclick="submitPlaybook();" class="btn btn-primary mt-3">Create Playbook</button>
    </form>

    <hr>
    <h3>All Playbooks</h3>
    <table class="table mt-3">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Trigger</th>
            <th>First step</th>
            <th>Steps</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="playbook : ${playbooks}">
            <td th:text="${playbook.name}"></td>
            <td th:text="${playbook.description}"></td>
            <td th:text="${playbook.trigger}"></td>
            <td th:text="${playbook.firstStep}"></td>
            <td>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                        <th>Next</th>
                    </tr>
                    <tr th:each="step : ${playbook.getSteps()}">
                        <td th:text="${step.name}"></td>
                        <td th:text="${step.action}"></td>
                        <td>
                            <span th:if="${step.getNext().size() == 1}" th:text="${step.getNext().getFirst().name}"></span>
                            <table th:if="${step.getNext().size() > 1}" class="table">
                                <tr>
                                    <th>Condition</th>
                                    <th>Step</th>
                                </tr>
                                <tr th:each="next : ${step.getNext()}">
                                    <td th:text="${next.condition}"></td>
                                    <td th:text="${next.name}"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    let stepId = 0;

    function addStep() {
        stepId++;
        nextId++;
        let container = document.getElementById("steps-container");
        let div = document.createElement("div");
        div.setAttribute("class", "row row-cols-lg-auto g-3 align-items-center mt-1 step-data");
        div.id = "step-data-" + stepId;
        div.innerHTML = `<div class="col-auto">
                    <button type="button" class="btn btn-outline-danger" onclick="removeStep(${stepId});">
                        Remove
                    </button>
                </div>
                <div class="col-auto">
                    <label>
                        <input type="text" class="form-control step-name" name="step-name" placeholder="name" required>
                    </label>
                </div>
                <div class="col-auto">
                    <label>
                        <input type="text" class="form-control step-action" name="step-action" placeholder="action" required>
                    </label>
                </div>
                <div>
                    Next:
                </div>
                <div id="next-container-${stepId}">
                    <div class="row g-2 align-items-center next-data" id="next-data-${nextId}">
                        <div class="col-auto">
                            <label>
                                <input type="text" class="form-control next-condition" name="next-condition" placeholder="condition">
                            </label>
                        </div>
                        <div class="col-auto">
                            <label>
                                <input type="text" class="form-control next-name" name="next-name" placeholder="name">
                            </label>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-outline-success" onclick="addNext(${stepId});">Add</button>
                        </div>
                    </div>
                </div>`;
        container.appendChild(div);
    }

    function removeStep(id) {
        document.getElementById('step-data-' + id).remove();
    }

    let nextId = 0;

    function addNext(stepId) {
        nextId++;
        let container = document.getElementById("next-container-" + stepId);
        let div = document.createElement("div");
        div.setAttribute("class", "row g-2 align-items-center mt-1 next-data")
        div.id = "next-data-" + nextId;
        div.innerHTML = "<div class=\"col-auto\">" +
            "<label>" +
            "<input type=\"text\" class=\"form-control next-condition\" name=\"next-condition\" placeholder=\"condition\">" +
            "</label>" +
            "</div>" +
            "<div class=\"col-auto\">" +
            "<label>" +
            "<input type=\"text\" class=\"form-control next-name\" name=\"next-name\" placeholder=\"name\">" +
            "</label>" +
            "</div>" +
            "<div class=\"col-auto\">" +
            `<button type=\"button\" class=\"btn btn-outline-danger\" onclick=\"removeNext(${nextId});\">Remove</button>` +
            "</div>";
        container.appendChild(div);
    }

    function removeNext(id) {
        document.getElementById('next-data-' + id).remove();
    }

    function submitPlaybook() {
        const stepsData = []

        let stepElements = document.getElementsByClassName("step-data");
        for (let stepElement of stepElements) {
            let nextData = []
            let nextElements = stepElement.getElementsByClassName("next-data");
            for (let nextElement of nextElements) {
                let nextCondition = nextElement.getElementsByClassName("next-condition")[0].value;
                let nextName = nextElement.getElementsByClassName("next-name")[0].value;
                if (nextCondition === '' || nextName === '') {
                    break;
                }
                nextData.push({
                    condition: nextCondition,
                    name: nextName
                })
            }
            stepsData.push({
                name: stepElement.getElementsByClassName("step-name")[0].value,
                action: stepElement.getElementsByClassName("step-action")[0].value,
                next: nextData
            })
        }

        const playbookData = {
            name: document.getElementById('name').value,
            description: document.getElementById('description').value,
            trigger: document.getElementById('trigger').value.replaceAll('\n', ' '),
            firstStep: document.getElementById('first-step').value,
            steps: stepsData
        };

        console.log(playbookData);

        // fetch('/api/playbooks', {
        //     method: 'POST',
        //     headers: {
        //         'Content-Type': 'application/json'
        //     },
        //     body: JSON.stringify(playbookData)
        // })
        //     .catch((error) => {
        //         console.error('Error:', error);
        //     })
        //     .then(data => {
        //         console.log('Playbook created:', data);
        //         window.location.reload();
        //     });
    }
</script>
</body>
</html>
