<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>
    <!--suppress JSUnresolvedLibraryURL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" type='text/css'>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><b>SOSOC</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/rules" class="nav-link">Rules</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/" class="nav-link">Playbooks</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/" class="nav-link">IOCs</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/users" class="nav-link active">Users</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1 class="mt-5">Manage Users</h1>

    <!-- Form to create a new rule -->
    <form class="mt-4">
        <h4>Create User</h4>
        <div class="form-group row">
            <div class="col-auto">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="col-auto">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="col-auto">
                <label for="role">Role</label>
                <select class="form-control" id="role" name="role" required>
                    <option value="analyst">Analyst</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>
        <h5 class="mt-2">Endpoints</h5>
        <div id="endpoints-container">
            <div class="row row-cols-lg-auto g-3 align-items-center endpoint-data" id="endpoint-data-0">
                <div class="col">
                    <label>
                        <input type="text" class="form-control endpoint-name" name="endpoint-name" placeholder="name">
                    </label>
                </div>
                <div class="col">
                    <label>
                        <input type="text" class="form-control endpoint-ip" name="endpoint-ip" placeholder="ip address">
                    </label>
                </div>
                <div class="col">
                    <label>
                        <input type="text" class="form-control endpoint-host" name="endpoint-host" placeholder="host">
                    </label>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-success" id="add-field" onclick="addEndpoint();">
                        Add
                    </button>
                </div>
            </div>
        </div>
        <button type="button" onclick="submitRule();" class="btn btn-primary mt-3">Create User</button>
    </form>

    <hr>

    <h3 class="mt-5">All Users</h3>
    <table class="table mt-3">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Endpoints</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role}"></td>
            <td>
                <table th:if="${!user.getEndpoints().isEmpty()}" class="table">
                    <tr>
                        <th>Name</th>
                        <th>IP</th>
                        <th>Host</th>
                    </tr>
                    <tr th:each="endpoint : ${user.getEndpoints()}">
                        <td th:text="${endpoint.name}"></td>
                        <td th:text="${endpoint.ip}"></td>
                        <td th:text="${endpoint.host}"></td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    let endpointId = 0;

    function addEndpoint() {
        endpointId++;
        let container = document.getElementById("endpoints-container");
        let div = document.createElement("div");
        div.setAttribute("class", "row row-cols-lg-auto g-3 align-items-center mt-0 endpoint-data");
        div.id = "endpoint-data-" + endpointId;
        div.innerHTML = "<div class=\"col\">" +
            `<label>` +
            `<input type=\"text\" class=\"form-control endpoint-name\" name=\"endpoint-name\" placeholder=\"name\">` +
            "</label>" +
            "</div>" +
            "<div class=\"col\">" +
            "<label>" +
            `<input type=\"text\" class=\"form-control\ endpoint-ip" name=\"endpoint-ip\" placeholder=\"ip address\">` +
            "</label>" +
            "</div>" +
            "<div class=\"col\">" +
            "<label>" +
            `<input type=\"text\" class=\"form-control\ endpoint-host" name=\"endpoint-host\" placeholder=\"host\">` +
            "</label>" +
            "</div>" +
            "<div class=\"col\">" +
            `<button type=\"button\" class=\"btn btn-outline-danger\" id=\"remove-field\" onclick=\"removeEndpoint(${endpointId});\">Remove</button>` +
            "</div>";
        container.appendChild(div);
    }

    function removeEndpoint(id) {
        document.getElementById('endpoint-data-' + id).remove();
    }

    function submitRule() {
        const endpointDataElements = document.getElementsByClassName('endopint-data');
        const endpointsData = []
        for (let endpoint of endpointDataElements) {
            let name = endpoint.getElementsByClassName('endpoint-name')[0].value;
            let ip = endpoint.getElementsByClassName('endpoint-ip')[0].value;
            let host = endpoint.getElementsByClassName('endpoint-host')[0].value;
            endpointsData.push({
                name: name,
                ip: ip,
                host: host
            })
        }

        const ruleData = {
            name: document.getElementById('name').value,
            email: document.getElementById('email').value,
            role: document.getElementById('role').value,
            endpoints: endpointsData
        };

        console.log(ruleData);

        fetch('/api/users', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(ruleData)
        })
            .catch((error) => {
                console.error('Error:', error);
            })
            .then(data => {
                console.log('Rule created:', data);
                // Optionally, reload the page or update the rule list dynamically
                window.location.reload();
            });
    }
</script>
</body>
</html>
